<%= render 'header' %>

<main>
  <div class="container">
    <table>
      <tr>
        <th>All Titles</th>
        <th>All Text</th>
        <th>Author</th>
      </tr>
 
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
      
          <td><% if article.user %>
            <%= article.user.name %>
            <% end %>
          </td>
          
          <td><%= link_to 'Show', article_path(article), class: "button"%></td>
          <td><%= link_to 'Edit', edit_article_path(article), class: "button" %></td>
          <td><%= link_to 'Destroy', 
                    article_path(article), 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' }, class: "button" %></td>
        </tr>
      <% end %>
    </table>
    </div><br>
    <br>
    <div class="container">
    <table>
      <tr>
        <th>Your Title</th>
        <th>Your Text</th>
      </tr>
 
      <% @articles.each do |article| %>
        <tr>
          <% if article.user == current_user %>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
      
        
          </td>
      
            <td><%= link_to 'Show', article_path(article), class: "button" %></td>
            <td><%= link_to 'Edit', edit_article_path(article), class: "button"  %></td>
            <td><%= link_to 'Destroy', 
                      article_path(article), 
                      method: :delete, 
                      data: { confirm: 'Are you sure?' },
                      class: "button" %></td>
          </tr>
      <% end %>
      <% end %>
    </table>
  </div>
  <%= link_to 'Home', articles_path, class: "button"  %>
  <%= link_to 'New article', new_article_path, class: "button" %>
  <%= link_to 'Sort', articles_path(order: "title"), class: "button" %>
</main>